{% extends "layouts/master.twig" %}
{% block content %}
<div class="container">
    <section class="section fade-up">
        <div class="panel" style="padding:35px;">
            <h1 class="title" style="margin-bottom:18px;">
                {{ page.title }}
            </h1>
            <div class="page-content" style="line-height:1.9; font-size:17px; color:var(--text);">
                {{ page.content|raw }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
